---
extension: xml
layout: nil
index: false
dirty: true
filter:
- haml
---
- posts = @pages.find(:all, :in_directory => 'blog', :recursive => true, :sort_by => 'created_at', :reverse => true, :blog_post => true)
- pubdate = posts.map(&:created_at).max
!!! XML
<rss version='2.0' xmlns:atom="http://www.w3.org/2005/Atom">
%channel
  <atom:link href="http://53cr.com/rss.xml" rel="self" type="application/rss+xml" />
  %title Isotopical
  %link http://53cr.com/blog/
  %description A Weblog by Chromium 53
  %language en-us
  %pubDate= pubdate.rfc822
  %lastBuildDate= Time.now.rfc822
  - posts.each do |post|
    - url = "http://53cr.com#{post.url}"
    %item
      %title= post.title
      %link= url
      %description= post.description 
      %pubDate= post.created_at.rfc822
      %guid== #{url}?#{Time.now.to_i}
      %content{:type => 'html'}= h(render(post))

</rss>